<form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()" class="restaurant-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" formControlName="name" class="form-control">
      <div *ngIf="restaurantForm.get('name')?.invalid && restaurantForm.get('name')?.touched" class="text-danger">
        Name is required
      </div>
    </div>
    
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" class="form-control">
      <div *ngIf="restaurantForm.get('description')?.invalid && restaurantForm.get('description')?.touched" class="text-danger">
        Description is required
      </div>
    </div>
    
    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" formControlName="location" class="form-control">
      <div *ngIf="restaurantForm.get('location')?.invalid && restaurantForm.get('location')?.touched" class="text-danger">
        Location is required
      </div>
    </div>
    
    <div class="form-group">
      <label for="openingHours">Opening Hours</label>
      <input id="openingHours" formControlName="openingHours" class="form-control">
      <div *ngIf="restaurantForm.get('openingHours')?.invalid && restaurantForm.get('openingHours')?.touched" class="text-danger">
        Opening Hours are required
      </div>
    </div>
    
    <div class="form-group">
      <label for="contactNumber">Contact Number</label>
      <input id="contactNumber" formControlName="contactNumber" class="form-control">
      <div *ngIf="restaurantForm.get('contactNumber')?.invalid && restaurantForm.get('contactNumber')?.touched" class="text-danger">
        Contact Number is required
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  