<div class="restaurant-info">
  <div class="restaurant-header">
    <h2>{{ restaurant.name }}</h2>
    <p>{{ restaurant.description }}</p>
  </div>
  <hr>
  <div class="restaurant-details">
    <div class="detail-item">
      <strong>Location:</strong>
      <span>{{ restaurant.location }}</span>
    </div>
    <div class="detail-item">
      <strong>Opening Hours:</strong>
      <span>{{ restaurant.openingHours }}</span>
    </div>
    <div class="detail-item">
      <strong>Contact Number:</strong>
      <span>{{ restaurant.contactNumber }}</span>
    </div>
    <div class="detail-item">
      <strong>Category:</strong>
      <span>{{ restaurant.category }}</span>
    </div>
  </div>
<hr>
  <h3>Menu</h3>
  <ul class="menu-list">
    <li *ngFor="let item of restaurant.menus">{{ item.menu }}</li>
  </ul>
</div>
