<p-toast />
<p-confirmPopup />
<div class="d-flex justify-content-center">
  <p-button label="Add Restaurant" [text]="true" [raised]="true" routerLink="/restaurants/new" />
</div>

<div class="card-list">
  <div *ngFor="let restaurant of restaurants" class="card">
    <h2>{{ restaurant.name }}</h2>
    <div class="card-content">
      <p><strong>Description:</strong> {{ restaurant.description }}</p>
      <p><strong>Location:</strong> {{ restaurant.location }}</p>
      <p><strong>Opening Hours:</strong> {{ restaurant.openingHours }}</p>
      <!-- <p><strong>Contact Number:</strong> {{ restaurant.contactNumber }}</p>
      <p><strong>Category:</strong> {{ restaurant.category }}</p> -->
      <p-divider />
      <div class="menuDiv"><div class="menus">Menus:</div>
        <ul class="restaurant-menus">
          <li *ngFor="let menuItem of restaurant.menus">
            <span *ngIf="menuItem.menu">{{ menuItem.menu }}</span>
          </li>
        </ul>        
      </div>
    </div>
    <div class="card-footer">
      <button class="btn view-btn"  [routerLink]="['/restaurants', restaurant._id]">View Details</button>
      <button class="btn edit-btn" [routerLink]="['/restaurants/edit', restaurant._id]">Edit</button>
      <button class="btn delete-btn" (click)="OnDelete($event, restaurant._id)">Delete</button>
    </div>
  </div>
</div>
